<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>One Off Productions</title>
  <style>
  body {
    background-color:black;
  }
  img {
    margin-left:20%;
    max-width: 60%
  }
  h1 {
    color: white;
  }
  </style>
</head>
<body>
<h1> 1 - Off Productions</h1>
<h4>
  <a href = "./tina_site.html">Home</a>
  <select name="" id="">
    <option value="">About</option>
  </select>
  <select name="" id="">
    <option value="">About</option>
  </select>
</h4>
<div id = "img">
<img src="theteam.jpg" alt="">
</div>
</body>
</html>
