{% load staticfiles %}

  <div class="row">
      <div class="col s12 m12">
        <div class="card">
          <div class="card-content grey">
            <h4>1-Off Production exists to bring professional theatre to communities with limited access, to represent diverse stories onstage employing a multidisciplinary approach, to create theatre reflective of the community artists serve, and to build and strengthen community through shared theatrical experiences.
            </h4>
          </div>
          <div class="card-image">
            <img src="{% static 'oneOffApp/images/redback.png' %}">
          </div>

        </div>
      </div>
    </div>
