{% load staticfiles %}

  <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image" id = 'tina'>
            <p></p>
            <img src="{% static 'oneOffApp/images/tina_polzin.jpg' %}">
            <span class="card-title">Tina Polzin</span>
          </div>
          <div class="card-content">
            <p><b>Founder and Director, Tina Polzin</b> employs theater to build communication and community.  She has directed and produced with LAByrinth Theater, Moving Arts and Estrogenius Festival, representing diverse stories onstage.  As a facilitator she has worked with NYC and San Diego Unified, in lock down centers, adoption centers and on a moshav in Israel, using theater to teach conflict resolution, literacy and science.  She recently received an MFA in Directing from UW and directed/produced the comedy pilot Off The Record.  She received grants from 4Cultre and The Office of Arts and Culture to bring her bilingual multidisciplinary version of the Spanish play, Blood Wedding/Bodas de Sangre, to audiences free of charge this summer.
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image" id="anna">
              <p></p>
              <img src="{% static 'oneOffApp/images/cah.jpg' %}">

            <span class="card-title">Ana Maria Campoy</span>
          </div>
          <div class="card-content">
            <p>
            <b>Producer, Ana Maria Campoy</b> is a teaching artist, producer, and actor. Her last project, Gifts of War, performed at Velocity Founder’s Theatre; post-performances discussions with Soldier’s Heart were held about the effects of war on women fighting on the front lines and those living with war around them. Free workshops were given to YouthCare residents living at transitional housing. She has worked with children of migrant workers, homeless youth, recovering drug addicts, and students in public schools across Puget Sound on behalf of Book-It Repertory Theatre, Seattle Rep, and Pacific Northwest Ballet. As a first generation Mexican-American, providing an artistic voice for artists of color and community activism is a central focus in her work.
          </p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image" id = 'matt'>
            <p></p>
            <img src="{% static 'oneOffApp/images/matt.jpg' %}">
            <span class="card-title">Matt Sherill</span>
          </div>
          <div class="card-content">
            <p><b>Producer, Matt Sherrill </b> is an actor and producer based in Seattle whose pursuit of storytelling involves building communities where chaos can thrive. He holds a BFA in Acting from Chicago’s DePaul University and is a former participant of the Intiman Emerging Artist Program. He currently works with Intiman as the Producing Apprentice for the 2016 Summer Festival and is a founding member and producer of the Firepit Collective. Along with producing, Acting work has been seen with Horse in Motion, Book-It's Education Touring productions, Theatre 22, is an artistic associate with Seattle’s Akropolis Performance Lab and, on occasion, hand models.
            </p>
          </div>
        </div>
      </div>
</div>
